{% extends 'main/base.html' %}
{% load static %}


{% block content %}

		<!-- Start Page Title Area -->
		<div class="page-title-area bg-8">
			<div class="container">
				<div class="page-title-content">
					<h2>Contact us</h2>

					<ul>
						<li>
							<a href="index.html">
								Home 
							</a>
						</li>

						<li class="active">Contact us</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Title Area -->

		<!-- Start Contact Area -->
		<section class="main-contact-area pt-100 pb-100">
			<div class="container">
				<form id="contactForm">
					<div class="row">
						<div class="col-lg-8">
							<h3>Let’s get in touch</h3>
							
							<div class="row">
								<div class="col-lg-6 col-sm-6">
									<div class="form-group">
										<label>Your name</label>
										<input type="text" name="name" id="name" class="form-control" required data-error="Please enter your name">
										<div class="help-block with-errors"></div>
									</div>
								</div>
		
								<div class="col-lg-6 col-sm-6">
									<div class="form-group">
										<label>Your email</label>
										<input type="email" name="email" id="email" class="form-control" required data-error="Please enter your email">
										<div class="help-block with-errors"></div>
									</div>
								</div>
		
								<div class="col-lg-6 col-sm-6">
									<div class="form-group">
										<label>Your phone</label>
										<input type="text" name="phone_number" id="phone_number" required data-error="Please enter your number" class="form-control">
										<div class="help-block with-errors"></div>
									</div>
								</div>
		
								<div class="col-lg-6 col-sm-6">
									<div class="form-group">
										<label>Subject</label>
										<input type="text" name="msg_subject" id="msg_subject" class="form-control" required data-error="Please enter your subject">
										<div class="help-block with-errors"></div>
									</div>
								</div>
		
								<div class="col-12">
									<div class="form-group">
										<label>Your message</label>
										<textarea name="message" class="form-control" id="message" cols="30" rows="8" required data-error="Write your message"></textarea>
										<div class="help-block with-errors"></div>
									</div>
								</div>
		
								<div class="col-lg-12 col-md-12">
									<div class="form-group checkboxs">
										<input type="checkbox" id="chb2">
										<p>
											I have read and completely accept the <a href="{% static 'webapp/terms-of-service.html' %}">Terms of service</a> And <a href="privacy-policy.html">Privacy policy.</a>
										</p>
									</div>
								</div>
		
								<div class="col-lg-12 col-md-12">
									<button type="submit" class="default-btn">
										<span>Send message</span>
									</button>
									<div id="msgSubmit" class="h3 text-center hidden"></div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>

						<div class="col-lg-4">
							<div class="single-contact-bg">
								<div class="single-contact-info">
									<h3>Contact information</h3>
		
									<ul class="address">
										<li class="location">
											<span>Address</span>
											2754 Kennedy Court West roxbury, MA 02132
										</li>
										<li>
											<span>Phone</span>
											<a href="tel:+1-(514)-312-5678">+1 (514) 312-5678</a>
										</li>
										<li>
											<span>Email</span>
											<a href="mailto:info@hacbu.com">info@hacbu.com</a>
										</li>
									</ul>
								</div>
		
								<div class="single-contact-info follow-us">
									<h3>Working hours</h3>
		
									<ul class="works-hours">
										<li>
											Mon - Thu: 
											<span>9:00am - 8:00pm</span>
										</li>
										<li>
											Fri - Sat:  
											<span>9:00am - 5:00pm</span>
										</li>
										<li>
											Sun: 
											<span>Closed</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>
		<!-- End Contact Area -->

		<!-- Start Map Area -->
		<div class="map-area">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22925.02335176516!2d-73.54098856980922!3d44.091033986446924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccabd668a766871%3A0x5493f35113c5c761!2sMineville%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1621420888489!5m2!1sen!2sbd"></iframe>
		</div>
		<!-- End Map Area -->

		<!-- Start Newsletters Area -->
		<section class="newsletters-area">
			<div class="container">
				<div class="newsletters-bg">
					<div class="row align-items-center">
						<div class="col-lg-5">
							<div class="newsletters-content">
								<h3>Newsletters</h3>
								<p>Subscribe to the newsletter for all the latest updates</p>
							</div>
						</div>
	
						<div class="col-lg-7">
							<form class="newsletter-form" data-toggle="validator">
								<input type="email" class="form-control" placeholder="Your email address" name="EMAIL" required autocomplete="off">
	
								<button class="default-btn" type="submit">
									Subscribe now
								</button>
	
								<div id="validator-newsletter" class="form-result"></div>
							</form>	
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Newsletters Area -->

{% endblock %}