{% extends 'main/base.html' %}
{% load static %}


{% block content %}

		<!-- Start Hero Slider Area -->
		<div class="hero-slider-area">
			<div class="hero-slider owl-carousel owl-theme">
				<div class="hero-slider-item slider-item-bg-1">
					<div class="d-table">
						<div class="d-table-cell">
							<div class="container-fluid">
								<div class="row align-items-center">
									<div class="col-lg-6">
										<div class="hero-slider-content">
											<h1>Need any type of Handyman services like <span>Plumber</span></h1>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
											<a class="default-btn" href="pricing-plan.html">
												Get a quote
											</a>
										</div>
									</div>

									<div class="col-lg-6 pr-0">
										<div class="hero-slider-img">
											<img src="{% static 'webapp/images/hero-slider/hero-slider-img.jpg' %}" alt="Image">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="hero-slider-item slider-item-bg-1">
					<div class="d-table">
						<div class="d-table-cell">
							<div class="container-fluid">
								<div class="row align-items-center">
									<div class="col-lg-6">
										<div class="hero-slider-content">
											<h1>Need any type of Handyman services like <span>Plumber</span></h1>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
											<a class="default-btn" href="pricing-plan.html">
												Get a quote
											</a>
										</div>
									</div>

									<div class="col-lg-6 pr-0">
										<div class="hero-slider-img">
											<img src="{% static 'webapp/images/hero-slider/hero-slider-img-2.jpg' %}" alt="Image">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="hero-slider-item slider-item-bg-1">
					<div class="d-table">
						<div class="d-table-cell">
							<div class="container-fluid">
								<div class="row align-items-center">
									<div class="col-lg-6">
										<div class="hero-slider-content">
											<h1>Need any type of Handyman services like <span>Plumber</span></h1>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
											<a class="default-btn" href="#">
												Get a quote
											</a>
										</div>
									</div>

									<div class="col-lg-6 pr-0">
										<div class="hero-slider-img">
											<img src="{% static 'webapp/images/hero-slider/hero-slider-img-3.jpg' %}" alt="Image">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Hero Slider Area -->

		<!-- End Features Area -->
		<section class="features-area pb-100">
			<div class="container">
				<div class="features-bg">
					<div class="row justify-content-center">
						<div class="col-lg-4 col-sm-6 pl-0">
							<div class="single-features">
								<i class="flaticon-transparency"></i>
								<h3>Transparent</h3>
							</div>
						</div>

						<div class="col-lg-4 col-sm-6 pl-0">
							<div class="single-features active">
								<i class="flaticon-loyalty"></i>
								<h3>Loyalty</h3>
								<img src="{% static 'webapp/images/features-shape.png' %}" class="features-shape" alt="Image">
							</div>
						</div>

						<div class="col-lg-4 col-sm-6 pl-0">
							<div class="single-features">
								<i class="flaticon-reliability"></i>
								<h3>Reliable</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section> 
		<!-- End Features Area -->

		<!-- End About Area -->
		<div class="section about-area">
			<div class="container">
				<div class="about-bg ptb-100">
					<div class="about-content">
						<span class="top-title">What we do</span>
						<h2>Our goal is to help customers identify the need to maintain facilities</h2>
						<p>Nulla porttitor accumsan tincidunt. Curabitur aliquet quam id dui posuere blandit. Pellentesque in ipsum id orci porta dapibus Curabitur aliquet quam id dui posuere help customers identify the.</p>
						<p>Curabitur aliquet quam id dui posuere blandit. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Proin eget tortor risus. Nulla quis lorem ut libero malesuada feugiat. Curabitur non nulla sit amet nisl tempus convallis quis.</p>

						<div class="row justify-content-center">
							<div class="col-lg-4 col-sm-6">
								<div class="single-count">
									<h1>24</h1>
									<h3>Years experience</h3>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6">
								<div class="single-count">
									<h1>975</h1>
									<h3>Projects done</h3>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6">
								<div class="single-count">
									<h1>579</h1>
									<h3>Happy clients</h3>
								</div>
							</div>

							<div class="col-12">
								<a href="about-us.html" class="default-btn">
									Explore more
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End About Area -->

		<!-- Start Our Skills Area -->
		<section class="our-skills-area ptb-100">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="skills-content">
							<span class="top-title">Our skills</span>
							<h2>All the skills that our company has based on the work</h2>
							<p>Nulla porttitor accumsan tincidunt. Curabitur aliquet quam id dui posuere blandit. Pellentesque in ipsum id orci porta dapibus.</p>
						</div>

						<div class="all-skill-bar">
							<div class="skill-bar" data-percentage="95%">
								<h4 class="progress-title-holder">
									<span class="progress-title">Repair skills</span>
									<span class="progress-number-wrapper">
										<span class="progress-number-mark">
											<span class="percent"></span>
											<span class="down-arrow"></span>
										</span>
									</span>
								</h4>
	
								<div class="progress-content-outter">
									<div class="progress-content"></div>
								</div>
							</div>
	
							<div class="skill-bar color-change" data-percentage="90%">
								<h4 class="progress-title-holder clearfix">
									<span class="progress-title">Replacement skills</span>
									<span class="progress-number-wrapper">
										<span class="progress-number-mark">
											<span class="percent"></span>
											<span class="down-arrow"></span>
										</span>
									</span>
								</h4>
	
								<div class="progress-content-outter">
									<div class="progress-content"></div>
								</div>
							</div>
	
							<div class="skill-bar" data-percentage="100%">
								<h4 class="progress-title-holder clearfix">
									<span class="progress-title">Experience</span>
									<span class="progress-number-wrapper">
										<span class="progress-number-mark">
											<span class="percent"></span>
											<span class="down-arrow"></span>
										</span>
									</span>
								</h4>
	
								<div class="progress-content-outter">
									<div class="progress-content"></div>
								</div>
							</div> 
	
							<div class="skill-bar color-change mb-0" data-percentage="85%">
								<h4 class="progress-title-holder clearfix">
									<span class="progress-title">Planning skills</span>
									<span class="progress-number-wrapper">
										<span class="progress-number-mark">
											<span class="percent"></span>
											<span class="down-arrow"></span>
										</span>
									</span>
								</h4>
	
								<div class="progress-content-outter">
									<div class="progress-content"></div>
								</div>
							</div> 
						</div> 
					</div>

					<div class="col-lg-6">
						<div class="skill-img">
							<img src="{% static 'webapp/images/skill-img.jpg' %}" alt="Image">
							<h3>Our work experience is 24 years</h3>

							<img src="{% static 'webapp/images/skill-shape.png' %}" class="skill-shape" alt="Image">
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Our Skills Area -->

		<!-- Start Our Services Area -->
		<section class="our-services-area pb-70">
			<div class="container">
				<div class="section-title">
					<span class="top-title">Our Services</span>
					<h2>The main priority of our company is our services  through which our clients get 100% quality of work</h2>
					<a href="services.html">View all services <i class="ri-arrow-right-line"></i></a>
				</div>

				<div class="row justify-content-center">
					<div class="col-lg-4 col-md-6">
						<div class="single-services">
							<a href="services-details.html">
								<img src="{% static 'webapp/images/services/services-1.jpg' %}" alt="Image">
							</a>
							
							<div class="services-content">
								<h3>
									<a href="services-details.html">Plumber</a>
								</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod [...]</p>
								<a href="services-details.html" class="read-more">Learn more</a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="single-services">
							<a href="services-details.html">
								<img src="{% static 'webapp/images/services/services-2.jpg' %}" alt="Image">
							</a>
							
							<div class="services-content">
								<h3>
									<a href="services-details.html">Carpenter</a>
								</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod [...]</p>
								<a href="services-details.html" class="read-more">Learn more</a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="single-services">
							<a href="services-details.html">
								<img src="{% static 'webapp/images/services/services-3.jpg' %}" alt="Image">
							</a>
							
							<div class="services-content">
								<h3>
									<a href="services-details.html">Electrical</a>
								</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod [...]</p>
								<a href="services-details.html" class="read-more">Learn more</a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="single-services">
							<a href="services-details.html">
								<img src="{% static 'webapp/images/services/services-4.jpg' %}" alt="Image">
							</a>
							
							<div class="services-content">
								<h3>
									<a href="services-details.html">Painting</a>
								</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod [...]</p>
								<a href="services-details.html" class="read-more">Learn more</a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="single-services">
							<a href="services-details.html">
								<img src="{% static 'webapp/images/services/services-5.jpg' %}" alt="Image">
							</a>
							
							<div class="services-content">
								<h3>
									<a href="services-details.html">Cleaning</a>
								</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod [...]</p>
								<a href="services-details.html" class="read-more">Learn more</a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="single-services">
							<a href="services-details.html">
								<img src="{% static 'webapp/images/services/services-6.jpg' %}" alt="Image">
							</a>
							
							<div class="services-content">
								<h3>
									<a href="services-details.html">Plumber</a>
								</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod [...]</p>
								<a href="services-details.html" class="read-more">Learn more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Our Services Area -->

		<!-- Start What we offer Area -->
		<section class="what-we-offer-area pb-100">
			<div class="container">
				<div class="what-we-offer-bg">
					<div class="row">
						<div class="col-lg-6">
							<div class="what-we-offer-content">
								<span class="top-title">What we offer</span>
								<h2>We serve any work very quickly at a low price</h2>
								<p>Nulla porttitor accumsan tincidunt. Curabitur aliquet quam id dui posuere blandit. Pellentesque in ipsum id orci porta dapibus.</p>

								<div class="row">
									<div class="col-lg-6">
										<div class="single-offer">
											<i class="flaticon-fast-time"></i>
											<h3>Fast service</h3>
											<p>Nulla porttitor accumsan tincidunt. Curabitur aliquet.</p>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="single-offer">
											<i class="flaticon-reliability"></i>
											<h3>Affordable price</h3>
											<p>Nulla porttitor accumsan tincidunt. Curabitur aliquet.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="what-we-offer-img">
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End What we offer Area -->

		<!-- Start Our Project Area -->
		<section class="our-project-area">
			<div class="container">
				<div class="section-title">
					<span class="top-title">Our projects</span>
					<h2>We are completing all the projects for our clients</h2>
				</div>
				
				<div class="project-slider owl-carousel owl-theme">
					<div class="single-project">
						<img src="{% static 'webapp/images/projects/project-1.jpg' %}" alt="Image">

						<div class="project-content">
							<h3>
								<a href="product-details.html">Adjusting plumbing</a>
							</h3>
						</div>
					</div>

					<div class="single-project">
						<img src="{% static 'webapp/images/projects/project-2.jpg' %}" alt="Image">

						<div class="project-content">
							<h3>
								<a href="product-details.html">Painting</a>
							</h3>
						</div>
					</div>

					<div class="single-project">
						<img src="{% static 'webapp/images/projects/project-3.jpg' %}" alt="Image">

						<div class="project-content">
							<h3>
								<a href="product-details.html">Plumber</a>
							</h3>
						</div>
					</div>

					<div class="single-project">
						<img src="{% static 'webapp/images/projects/project-4.jpg' %}" alt="Image">

						<div class="project-content">
							<h3>
								<a href="product-details.html">Electrical</a>
							</h3>
						</div>
					</div>

					<div class="single-project">
						<img src="{% static 'webapp/images/projects/project-2.jpg' %}" alt="Image">

						<div class="project-content">
							<h3>
								<a href="product-details.html">Adjusting</a>
							</h3>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Our Project Area -->

		<!-- Start Why choose Roose Area -->
		<section class="get-free-quote-area pt-100 pb-70">
			<div class="container">
				<div class="get-free-quote-bg">
					<div class="row">
						<div class="col-lg-5">
							<div class="get-free-quat-img">
								
							</div>
						</div>
	
						<div class="col-lg-7">
							<form class="get-free-form">
								<div class="logo">
									<img src="{% static 'webapp/images/logo.png' %}" alt="Image">
								</div>
								<h2>Get a free quote</h2>
								
								<div class="row">
									<div class="col-lg-6 col-md-6">
										<div class="form-group">
											<input class="form-control" type="text" placeholder="Name">
										</div>
									</div>

									<div class="col-lg-6 col-md-6">
										<div class="form-group">
											<input class="form-control" type="email" placeholder="Email">
										</div>
									</div>

									<div class="col-lg-6 col-md-6">
										<div class="form-group">
											<input class="form-control" type="text" placeholder="Phone">
										</div>
									</div>

									<div class="col-lg-6 col-md-6">
										<div class="form-group">
											<select class="form-select form-control" aria-label="Default select example">
												<option selected>Services</option>
												<option value="1">Plumber</option>
												<option value="2">Carpenter</option>
												<option value="3">Electrical</option>
											</select>
										</div>
									</div>

									<div class="col-lg-12 col-md-12">
										<div class="form-group">
											<textarea name="notes" id="notes" cols="30" rows="6" class="form-control" spellcheck="false" placeholder="Your massage..."></textarea>
										</div>
									</div>

									<div class="col-12">
										<button type="submit" class="default-btn">
											Get a free quote
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Why choose Roose Area -->

		<!-- Start Partner Area -->
		<div class="partner-area pb-100">
			<div class="container">
				<div class="partner-bg">
					<span>Our accreditations</span>

					<div class="partner-slider owl-carousel owl-theme">
						<div class="single-partner-style-two">
							<a href="index.html">
								<img src="{% static 'webapp/images/partner/partner-1.png' %}" alt="Image">
							</a>
						</div>
	
						<div class="single-partner-style-two">
							<a href="index.html">
								<img src="{% static 'webapp/images/partner/partner-2.png' %}" alt="Image">
							</a>
						</div>
	
						<div class="single-partner-style-two">
							<a href="index.html">
								<img src="{% static 'webapp/images/partner/partner-3.png' %}" alt="Image">
							</a>
						</div>
	
						<div class="single-partner-style-two">
							<a href="index.html">
								<img src="{% static 'webapp/images/partner/partner-4.png' %}" alt="Image">
							</a>
						</div>
	
						<div class="single-partner-style-two">
							<a href="index.html">
								<img src="{% static 'webapp/images/partner/partner-5.png' %}" alt="Image">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Partner Area -->

		<!-- Start Team Area -->
		<section class="team-area pb-70">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-3 col-sm-6">
						<div class="team-content">
							<h2>Meet our staff</h2>
							<p>Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>

							<a href="our-staff.html" class="read-more">
								View all staff
								<i class="ri-arrow-right-line"></i>
							</a>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-team">
							<img src="{% static 'webapp/images/team/team-1.jpg' %}" alt="Image">

							<div class="single-team-content">
								<h3>Everett conley</h3>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-team">
							<img src="{% static 'webapp/images/team/team-2.jpg' %}" alt="Image">

							<div class="single-team-content">
								<h3>Michael young</h3>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-team">
							<img src="{% static 'webapp/images/team/team-3.jpg' %}" alt="Image">

							<div class="single-team-content">
								<h3>Scott ross</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Team Area -->

		<!-- Start Reviews Area -->
		<section class="reviews ptb-100">
			<div class="container">
				<div class="section-title">
					<span class="top-title">Testimonials</span>
					<h2>What our clients say</h2>
				</div>
				<div class="grid-container">
					<div class="grid-x grid-padding-x align-center">
						<div class="cell medium-9 small-12">
							<div class="reviews-slider slider-nav">
								<div class="sin-testiImage">
									<img src="{% static 'webapp/images/testimonials/testimonials-1.jpg' %}" alt="Image">
									<i class="ri-double-quotes-r"></i>
								</div>
								<div class="sin-testiImage">
									<img src="{% static 'webapp/images/testimonials/testimonials-2.jpg' %}" alt="Image">
									<i class="ri-double-quotes-r"></i>
								</div>
								<div class="sin-testiImage">
									<img src="{% static 'webapp/images/testimonials/testimonials-3.jpg' %}" alt="Image">
									<i class="ri-double-quotes-r"></i>
								</div>
								<div class="sin-testiImage">
									<img src="{% static 'webapp/images/testimonials/testimonials-1.jpg' %}" alt="Image">
									<i class="ri-double-quotes-r"></i>
								</div>
								<div class="sin-testiImage">
									<img src="{% static 'webapp/images/testimonials/testimonials-2.jpg' %}" alt="Image">
									<i class="ri-double-quotes-r"></i>
								</div>
								<div class="sin-testiImage">
									<img src="{% static 'webapp/images/testimonials/testimonials-3.jpg' %}" alt="Image">
									<i class="ri-double-quotes-r"></i>
								</div>
							</div>
						</div>
						
						<div class="cell medium-10 small-12">
							<div class="reviews-text-slider slider-for">
								<div class="sin-testiText">
									<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risuscommodo viverra maecenas accumsan lacus vel facilisis.”</p>

									<h3>Carroll Jackson</h3>
									<span>Manager</span>
								</div>
								<div class="sin-testiText">
									<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risuscommodo viverra maecenas accumsan lacus vel facilisis.”</p>

									<h3>Juhon Smith</h3>
									<span>Founder OF Tread Company</span>
								</div>
								<div class="sin-testiText">
									<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risuscommodo viverra maecenas accumsan lacus vel facilisis.”</p>

									<h3>Kilva Jackson</h3>
									<span>CEO</span>
								</div>
								<div class="sin-testiText">
									<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risuscommodo viverra maecenas accumsan lacus vel facilisis.”</p>

									<h3>Carroll Jackson</h3>
									<span>Manager</span>
								</div>
								<div class="sin-testiText">
									<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risuscommodo viverra maecenas accumsan lacus vel facilisis.”</p>

									<h3>Juhon Smith</h3>
									<span>Founder OF Tread Company</span>
								</div>
								<div class="sin-testiText">
									<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risuscommodo viverra maecenas accumsan lacus vel facilisis.”</p>

									<h3>Kilva Jackson</h3>
									<span>CEO</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Reviews Area -->

		<!-- Start Blog Area -->
		<section class="blog-area pt-100 pb-70">
			<div class="container">
				<div class="section-title">
					<span class="top-title">Our blog</span>
					<h2>Latest blog & articles</h2>
				</div>

				<div class="row justify-content-center">
					<div class="col-lg-4 col-md-6">
						<div class="single-blog">
							<a href="blog-details.html" class="blog-img">
								<img src="{% static 'webapp/images/blog/blog-1.jpg' %}" alt="Image">
								<span class="date">May <br> 03</span>
							</a>

							<div class="blog-content">
								<ul>
									<li>
										<a href="author.html">
											By: Larry williams
										</a>
									</li>
									<li class="tag">
										<a href="blog.html">Maintenance tips</a>
									</li>
								</ul>
	
								<h3>
									<a href="blog-details.html">Top 5 great tips about handyman service</a>
								</h3>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="single-blog">
							<a href="blog-details.html" class="blog-img">
								<img src="{% static 'webapp/images/blog/blog-2.jpg' %}" alt="Image">
								<span class="date">May <br> 03</span>
							</a>

							<div class="blog-content">
								<ul>
									<li>
										<a href="author.html">
											By: Gary kendall
										</a>
									</li>
									<li class="tag">
										<a href="blog.html">Maintenance</a>
									</li>
								</ul>
	
								<h3>
									<a href="blog-details.html">How to find reliable Home Improvement tips</a>
								</h3>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="single-blog">
							<div class="blog-content">
								<ul>
									<li>
										<a href="author.html">
											By: Gary kendall
										</a>
									</li>
									<li class="tag">
										<a href="blog.html">Maintenance tips</a>
									</li>
								</ul>
	
								<h3>
									<a href="blog-details.html">Solve any problem in the kitchen in a short time</a>
								</h3>

								<a href="blog-details.html" class="read-more">
									Read mone
									<i class="ri-arrow-right-line"></i>
								</a>
							</div>
						</div>
						
						<div class="single-blog">
							<div class="blog-content">
								<ul>
									<li>
										<a href="author.html">
											By: Gary kendall
										</a>
									</li>
									<li class="tag">
										<a href="blog.html">Maintenance tips</a>
									</li>
								</ul>
	
								<h3>
									<a href="blog-details.html">Simple steps for replacing your own house</a>
								</h3>

								<a href="blog-details.html" class="read-more">
									Read mone
									<i class="ri-arrow-right-line"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Blog Area -->

		<!-- Start Newsletters Area -->
		<section class="newsletters-area">
			<div class="container">
				<div class="newsletters-bg">
					<div class="row align-items-center">
						<div class="col-lg-5">
							<div class="newsletters-content">
								<h3>Newsletters</h3>
								<p>Subscribe to the newsletter for all the latest updates</p>
							</div>
						</div>
	
						<div class="col-lg-7">
							<form class="newsletter-form" data-toggle="validator">
								<input type="email" class="form-control" placeholder="Your email address" name="EMAIL" required autocomplete="off">
	
								<button class="default-btn" type="submit">
									Subscribe now
								</button>
	
								<div id="validator-newsletter" class="form-result"></div>
							</form>	
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Newsletters Area -->

{% endblock %}