{% load static %}


<!-- Start Hero Slider Area -->
<div class="hero-slider-area">
    <div class="hero-slider owl-carousel owl-theme">
        <div class="hero-slider-item slider-item-bg-1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="hero-slider-content">
                                    <h1>Any type of Disposal like <span>Confide</span></h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                    <a class="default-btn" href="pricing-plan.html">
                                        Get a quote
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 pr-0">
                                <div class="hero-slider-img">
                                    {% for main_slider in slide %}
                                    <img src="{{ main_slider.image.url }}" alt="Image">
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Slider Area -->